<div class="container">
    <main class="centralizing-wrapper">
        <a href="/">
            <!-- https://fidoalliance.org/wp-content/uploads/2023/12/FIDO_Passkey_mark_A-1.jpg -->
            <img src="/images/passkey_logo.png" alt="Demo Passkeys Logo" class="site-logo">
        </a>
        <h1>Welcome to Demo Passkeys</h1>
        <section>
            <p class="site-intro">
                This is app is a demonstration of how to use passkeys for secure authentication (webauthn).
            </p>
            <div class="auth-options">
                <a href="/login" class="button-link">Login</a>
                <a href="/register" class="button-link">Register</a>
            </div>
        </section>
    </main>
</div>